/* start NavBar  */
.navbar-nav a{
color: white;
padding: 0 1.5rem;
font-size: 1.2rem;
text-decoration: none;
}
.btns a{
text-decoration: none;
color: #fff;
border: 1px solid #fff;
padding: 8px;
margin-left: 15px;
}